<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Baruch CEO</h3>
                        <ul>
                            <li><a href="#">Merchandise</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Gallery</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Upcoming Events</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Location</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Baruch CEO</h3>
                        <p>CEO is a close knit entrepreneurial network that cultivates Baruch College students in their entrepreneurial ventures, ideas, and pursuits.<br></p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/baruchceo/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">© Baruch College Entrepreneurship Organization</p>
            </div>
        </footer>
    </div>