<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About | Baruch CEO </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">

</head>

<body>
        <% include partials/header %>
<div>
        <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            
            <p class="text-center text-info"> Mission:
To create a community of doers that are actively working towards building great products and companies. To provide aspiring entrepreneurs with all the resources they need to learn how to start their own startups, raise capital, launch products, grow their companies, and build the future.
            </p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
            <p class="text-center text-info">Why CEO:
Launching a company is hard. Entrepreneurship is hard. CEO brings together people from all backgrounds and creates a supportive community that helps you with every step of the way. From Events to Networking, to Hands-on support in building your projects.
            </p>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <% include partials/footer %>
</div>


    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>