<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baruch CEO</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
</head>

<body>
    <% include partials/header %>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
				<div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
				<div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
				<div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="highlight-blue">
        <div class="container">
            <hr>
            <p class="text-center text-info" style="color:#f5f8fb;">FAQ:</p>
            <hr>
            <section class="content">
                <h2 class="text-uppercase text-center" style="color:#f5f8fb;">1. What is baruch CEO?</h2>
                <p class="text-left">The College Entrepreneurial Organization (CEO) is a student organization that is dedicated to promoting, cultivating, and nurturing the entrepreneurial spirit that is unique to Baruch students. We want to prioritize that everyone is welcomed
                    and encouraged to pursue their dreams, ventures, and most importantly establish lifelong friendships. Our judgment free zone will serve as a creative and applicable extension of the current undergraduate curriculum and provide undergraduate
                    students with the support necessary for achieving their entrepreneurial aspirations. CEO strongly believes that by attending discussion panels, workshops, networking events, and many other activities Baruch students will gain the confidence
                    and direction they need to launch innovative and successful ventures.</p>
            </section>
            <section class="content">
                <h2 class="text-uppercase text-center">2. How DO i applY?</h2>
                <p class="text-left">Hit "join" up top! You may also head directly to http://signup.baruchceo.com/signup<br></p>
                <figure class="figure"></figure>
            </section>
            <section class="content">
                <h2 class="text-uppercase text-center">3. cool merch?!</h2>
                <p class="text-left">Yes!</p>
            </section>
            <section class="content"></section>
            <hr>
        </div>
    </div>
    <% include partials/footer %>
    <div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>