<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team | Baruch CEO</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <style>
        .team-grid {
            color:#313437;
            background-color:#fff;
          }
          
          .team-grid p {
            color:#7d8285;
          }
          
          .team-grid h2 {
            font-weight:bold;
            margin-bottom:40px;
            padding-top:40px;
            color:inherit;
          }
          
          @media (max-width:767px) {
            .team-grid h2 {
              margin-bottom:25px;
              padding-top:25px;
              font-size:24px;
            }
          }
          
          .team-grid .intro {
            font-size:16px;
            max-width:500px;
            margin:0 auto;
          }
          
          .team-grid .intro p {
            margin-bottom:0;
          }
          
          .team-grid .people {
            padding:50px 0;
          }
          
          .team-grid .item {
            margin-bottom:30px;
          }
          
          .team-grid .item .box {
            text-align:center;
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
            height:280px;
            position:relative;
            overflow:hidden;
          }
          
          .team-grid .item .cover {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color:rgba(31,148,255,0.75);
            transition:opacity 0.15s ease-in;
            opacity:0;
            padding-top:80px;
            color:#fff;
            text-shadow:1px 1px 1px rgba(0,0,0,0.15);
          }
          
          .team-grid .item:hover .cover {
            opacity:1;
          }
          
          .team-grid .item .name {
            font-weight:bold;
            margin-bottom:8px;
          }
          
          .team-grid .item .title {
            text-transform:uppercase;
            font-weight:bold;
            color:#bbd8fb;
            letter-spacing:2px;
            font-size:13px;
            margin-bottom:20px;
          }
          
          .team-grid .social {
            font-size:18px;
          }
          
          .team-grid .social a {
            color:inherit;
            margin:0 10px;
            display:inline-block;
            opacity:0.7;
          }
          
          .team-grid .social a:hover {
            opacity:1;
          }
          /*  */
          .team-boxed {
            color:#313437;
            background-color:#eef4f7;
          }
          
          .team-boxed p {
            color:#7d8285;
          }
          
          .team-boxed h2 {
            font-weight:bold;
            margin-bottom:40px;
            padding-top:40px;
            color:inherit;
          }
          
          @media (max-width:767px) {
            .team-boxed h2 {
              margin-bottom:25px;
              padding-top:25px;
              font-size:24px;
            }
          }
          
          .team-boxed .intro {
            font-size:16px;
            max-width:500px;
            margin:0 auto;
          }
          
          .team-boxed .intro p {
            margin-bottom:0;
          }
          
          .team-boxed .people {
            padding:50px 0;
          }
          
          .team-boxed .item {
            text-align:center;
          }
          
          .team-boxed .item .box {
            text-align:center;
            padding:30px;
            background-color:#fff;
            margin-bottom:30px;
          }
          
          .team-boxed .item .name {
            font-weight:bold;
            margin-top:28px;
            margin-bottom:8px;
            color:inherit;
          }
          
          .team-boxed .item .title {
            text-transform:uppercase;
            font-weight:bold;
            color:#d0d0d0;
            letter-spacing:2px;
            font-size:13px;
          }
          
          .team-boxed .item .description {
            font-size:15px;
            margin-top:15px;
            margin-bottom:20px;
          }
          
          .team-boxed .item img {
            max-width:160px;
          }
          
          .team-boxed .social {
            font-size:18px;
            color:#a2a8ae;
          }
          
          .team-boxed .social a {
            color:inherit;
            margin:0 10px;
            display:inline-block;
            opacity:0.7;
          }
          
          .team-boxed .social a:hover {
            opacity:1;
          }          
    </style>
</head>

<body>
    <div class="team-grid"></div>
    <div class="team-boxed">
    <% include partials/header %>
    <div class="container">
        <div class="intro">
            <h2 class="text-center">About CEO &amp; The Team </h2>
            <p class="text-center">Meet the team!</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/Claudio.jpeg" width="200" height="200">
                    <h3 class="name">Claudio Fuentes</h3>
                    <p class="title">President</p>
                    <!--<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Collin.jpeg" width="200" height="200">
                    <h3 class="name">Collin Reed</h3>
                    <p class="title">Chief Communication Officer&nbsp;</p>
                    <!--<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Rachel.jpg" width="200" height="200">
                    <h3 class="name">Rachel Chen</h3>
                    <p class="title">Chief technical officer</p>
                    <!--<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Autumn.jpeg" width="200" height="200">
                    <h3 class="name">Autumn Rose Vargas</h3>
                    <p class="title">Chief marketing officer</p>
                    <!--<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Taseer.jpg" width="200" height="200">
                    <h3 class="name">Taseer Qamar</h3>
                    <p class="title">chief social officer</p>
                    <!--<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/Kev.jpg" width="200" height="200">
                    <h3 class="name">Kejvi Dema</h3>
                    <p class="title">Communications Leader</p>
                    <!--<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Chaiti.jpg" width="200" height="200">
                    <h3 class="name"><strong>Chaiti Datta</strong></h3>
                    <p class="title">Team events leader</p>
                   <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" class="rounded-circle" src="assets/img/Brian.jpg" width="200" height="200">
                    <h3 class="name">Brain Chew</h3>
                    <p class="title">tech team</p>
                    <!--<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Claude.jpeg" width="200" height="200">
                    <h3 class="name">Claude Martelly</h3>
                    <p class="title">Cro</p>
                   <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/Alex.png" width="200" height="200">
                    <h3 class="name">Alex Ptacek</h3>
                    <p class="title">Chief HR Officer</p>
                   <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Delshad.jpeg" width="200" height="200">
                    <h3 class="name"><strong>Delshad Alam</strong></h3>
                    <p class="title">Marketing Team Leader</p>
                  <!--  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Ben.jpg" width="200" height="200">
                    <h3 class="name">Ben</h3>
                    <p class="title">tech team</p>
                  <!--  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Igor.png" width="200" height="200">
                    <h3 class="name">Igor Mucha</h3>
                    <p class="title">chief logistics officer</p>
                  <!--  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
                <div class="box"><img class="rounded-circle" src="assets/img/Miriam.jpeg" width="200" height="200">
                    <h3 class="name">Miriam Geisinsky</h3>
                    <p class="title">Musician</p>
                  <!--  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                </div>
            </div>
        </div>
    </div>
    </div>
    <% include partials/footer %>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>